/* *{
    margin: 0;
}

.div{
    height: 220px;
    width: 220px;
    background-color: aqua;
    margin: 20px 120px 120px 20px;
    padding: 20px;
} */
body{
    background-color: black;
    color: white;
}
.div{
    display: flex;
    justify-content:space-around;
}
.ul{
    /* justify-content:space-between; */
    display: flex;
    align-items: center;
}
.li{
    padding: 12px;
    /* display: flex; */
    list-style: none;

}
a{
    color: white;
    text-decoration: none;
    font-weight: 900;
    font-size: 20px;
}
span{
    color: red;
}
.down{
    display: flex;
    width: 100%;
    border: 1px  solid;
    justify-content: space-around;
}
.p{
    display: flex;
    width: 30%;
    align-items: center;
}
img{
    height: 550px;
    display: flex;
}